.my-accordion{
	flex:1;
	overflow: auto;
}

.a-b{
	width:100vw;
	height:50px;
	background:red;
	display: flex;
	justify-content: center;
	align-items: center;
	
	
	
}


.a-b .a-bu{
	width:70vw;
	height:30px;
	background: #fff;
	text-align:center;
	line-height:30px;
	border-radius: 30px;
}

.a-b .a-bu input{
	border: none;
	margin-left: 20px;
}
.a-b .icon-31wangwang{
	font-size: 30px;
	margin-left: 20px;
	color:#fff;
}



