.d-for{width: 95vw;height: 40px;border-bottom: 1px solid #ccc;margin: 0 auto;line-height: 50px;margin-top: 100px;}
.d-for input{border: none;background: whitesmoke;padding-left: 5px;width: 80vw;}
.d-yan{width: 120px;height: 35px;border: 1px solid #ccc;border-radius:10px ;margin: 30px auto;}
.d-yan button{width: 120px;height: 35px;border: none;border-radius:10px ;}
