.pinktop{width: 100vw;height: 44px;background: #EF4BA9;line-height: 44px;font-size: 18px;text-align: center;color: white;}
.pinktop span{float: left;margin-left:15px ;}
.pinktop b{font-weight: normal;margin-left: -15px;}