*{
    margin: 0;
    padding: 0;
}
.c-header{
    display: flex;
    height: 42px;
    background: red;
    align-items: center;
}
.c-header h3{
    width: 96vw;
    text-align: center;
}
.c-dian{
    display: flex;
    justify-content: space-around;
    height: 38px;
    align-items: center;
    font-size: 18px;
    color: #ab9595;
}