.d-tub{width: 65px;height: 65px;background: #ccc;border-radius: 50%;line-height: 65px;text-align: center;margin: 30px auto;}
.d-tub .iconfont{font-size: 24px;}
.d-zhu{width: 95vw;margin: 0 auto;}
.d-zhu input:first-child{height: 30px;width: 94vw;border: none;border-bottom: 1px solid #ccc;padding-left: 10px;}
.d-zhu input:last-child{height: 30px ;width: 94vw; border: none;border-bottom: 1px solid #ccc;margin-top: 10px;padding-left: 10px;}
.d-zce{width: 120px;height: 40px;margin: 35px auto;}
.d-zce button{width: 120px;height: 40px;background: #ddd;border-radius: 10px;}
