h1,h2,h3,ul,li{padding: 0;margin: 0;}
a{text-decoration:none}
li{list-style: none;}
img{display: block;border: none;}
.zujian{flex: 1;}
.box{height: 100vh;display: flex;flex-direction: column;}
.App footer{height: 50px;display: flex;justify-content: space-around;line-height: 50px;border-top: 1px solid #bbb;}
footer a{color: #bbb;}
.active{color: orangered;}
